@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900");
.range {
  position: relative;
}
.range input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  width: 70vw;
  height: 22px;
  cursor: pointer;
  display: block;
}
.range input[type=range]:focus {
  outline: none;
}
.range input[type=range][disabled] {
  opacity: 0.3;
  cursor: default;
}
.range .rangeslider {
  position: relative;
  height: 22px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.range .rangeslider:before {
  box-sizing: border-box;
  width: 70vw;
  height: 4px;
  background: #e6e6e6;
  border-radius: 100px;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.range input::-webkit-slider-runnable-track {
  box-sizing: border-box;
  width: 70vw;
  height: 4px;
  background: #e6e6e6;
  border-radius: 100px;
  margin: 11px 0;
}
.range input::-moz-range-track {
  box-sizing: border-box;
  width: 70vw;
  height: 4px;
  background: #e6e6e6;
  border-radius: 100px;
  margin: 11px 0;
}
.range input::-ms-track {
  box-sizing: border-box;
  width: 70vw;
  height: 4px;
  background: #e6e6e6;
  border-radius: 100px;
  color: transparent;
  padding: 11px 0;
  background: transparent;
  border-color: transparent;
}
.range input::-ms-fill-lower,
.range input::-ms-fill-upper {
  box-sizing: border-box;
  width: 70vw;
  height: 4px;
  background: #e6e6e6;
  border-radius: 100px;
}
.range input::-ms-fill-lower {
  background: #21d48c;
}
.range .rangeslider-fill-lower {
  background-color: #21d48c;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  will-change: width;
}
.range input::-webkit-slider-thumb {
  box-sizing: border-box;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  background: #333940;
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  transform: translateY(-50%);
  margin-top: 2px;
}
.range input::-moz-range-thumb {
  box-sizing: border-box;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  background: #333940;
  cursor: pointer;
}
.range input::-ms-thumb {
  box-sizing: border-box;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  background: #333940;
  cursor: pointer;
}
.range .rangeslider-thumb {
  box-sizing: border-box;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  background: #333940;
  cursor: pointer;
  position: absolute;
  touch-action: pan-x;
  top: 50%;
  transform: translateY(-50%);
  will-change: left;
}
.range .range-output {
  position: absolute;
  left: 10px;
  top: 10px;
  transform-origin: 0 0;
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.range .range-output .output {
  display: block;
  position: absolute;
  height: 32px;
  line-height: 32px;
  min-width: 8px;
  padding: 0 8px;
  top: -21px;
  transform: translate(-50%, -100%);
  background: #383c42;
  color: #fff;
  border-radius: 100px;
  white-space: nowrap;
  font-size: 1em;
  text-align: center;
}
.range .range-output .output:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  border: 5px solid #383c42;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
  transform: translateX(-50%);
}

.range2 input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  width: 70vw;
  height: 22px;
  cursor: pointer;
  display: block;
}

body {
  font-family: "Montserrat";
  font-weight: 500;
  overflow: hidden;
}

form {
  width: 70vw;
}

h3 {
  color: #fafafa;
  font-weight: 500;
  text-align: center;
  padding-top: 8px;
  margin-bottom: 8px;
  font-size: medium;
}

h2 {
  color: #d9d9d9;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  font-size: xx-large;
} 
.logo {
  margin-top: 16px;
}
.logo .sublogo {
  margin-top: -30px;
  text-align: right;
  font-size: small;
}

.sliderContainer {
  display: flex;
  background: rgba(217, 217, 217, 0.0392156863);
  border-radius: 8px;
  border-color: rgba(217, 217, 217, 0.0392156863);
  border-style: solid;
  border-width: 1px;
  padding-top: 52px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  /* box-shadow: 2px 6px 20px 2px rgba(10, 10, 120, 0.15); */
}

.sliderContainer2 {
  display: flex;
  background: rgba(217, 217, 217, 0.0392156863);
  border-radius: 8px;
  border-color: rgba(217, 217, 217, 0.0392156863);
  border-style: solid;
  border-width: 1px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  /* box-shadow: 2px 6px 20px 2px rgba(10, 10, 120, 0.15); */
}/*# sourceMappingURL=style.css.map */